<h1>Hospitals by Type</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>State</th>
      <th># Hopsitals</th>
      <th>Hopsital Type</th>
    </tr>
  </thead>
  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.state %></td>
        <td><%= hospital.total_hospitals %></td>
        <td><%= hospital.hospital_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
